div.name {
	padding-top: 1%;
	padding-left:2%;
	color: black;
	font-size: 200%;
}

hr {
	margin-left: 2%;
}

a.link {
	padding-left: 2%;
	color: black;
	font-style:normal;
	float:left;
}

body {
	font-family: "helvetica";
	background-image: url("background.jpg");
	background-size: cover;
}